<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.CompanyAccountMapper">


    <select id="selectList" resultType="com.cykj.domestic.entity.CompanyAccount" parameterType="com.cykj.domestic.entity.CompanyAccount">
         SELECT ti.time,ti.origin,ti.amount_money,ti.option_type FROM tb_trade_info ti
         LEFT JOIN tb_company c on c.id=ti.company_id
        <where>
            c.id=#{userid}
            <if test="e.origin!=null and e.origin!=''">and ti.origin like concat('%',#{e.origin},'%')</if>
        </where>
        limit #{start},#{pageSize}
    </select>

    <select id="selectListCount" resultType="int" parameterType="com.cykj.domestic.entity.CompanyAccount">
        SELECT count(A.id) FROM (SELECT ti.id,ti.time,ti.origin,ti.amount_money,ti.option_type FROM tb_trade_info ti
        LEFT JOIN tb_company c on c.id=ti.company_id
        <where>
            c.id=#{userid}
            <if test="e.origin!=null and e.origin!=''">and ti.origin like concat('%',#{e.origin},'%')</if>
        </where>)A
    </select>


    <select id="selectbalance" resultType="com.cykj.domestic.entity.CompanyAccount" parameterType="com.cykj.domestic.entity.CompanyAccount">
        SELECT * FROM tb_company WHERE id=#{userid}
    </select>


</mapper>
