<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.CounselorMapper">

    <select id="queryCounselor" parameterType="com.cykj.domestic.entity.Counselor" resultType="com.cykj.domestic.entity.Counselor">
        SELECT * FROM tb_counselor
        ORDER BY id limit #{start},#{pageSize}
    </select>
    <select id="queryCounselorCount" parameterType="com.cykj.domestic.entity.Counselor" resultType="int">
        SELECT count(id) FROM tb_counselor
    </select>

</mapper>