<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.OrderMapper">

    <select id="queryList" resultType="com.cykj.domestic.entity.OrderInfo">
        select o.*,u.name user_name,stf.user_name staff_name,s.type_name,c.company_name com_name,os_c.order_state_name
        state_com_name from tb_order_info o
        left join tb_order_state os_c on os_c.id = o.company_order_state_id
        left join tb_staff stf on stf.id = o.staff_id
        left join tb_user u on u.id = o.user_id
        left join tb_company c on c.id = o.company_id
        left join tb_service s on s.id = o.service_id
        <where>
            <if test="companyName!=null and companyName!=''">and c.company_name like concat('%',#{companyName},'%')</if>
        </where>
        ORDER BY id limit #{start},#{pageSize}
    </select>
    <select id="queryCount" resultType="int">
        SELECT count(o.id) FROM tb_order_info o
        left join tb_company c on c.id = o.company_id
        <where>
            <if test="companyName!=null and companyName!=''">and c.company_name like concat('%',#{companyName},'%')</if>
        </where>
    </select>
    <delete id="deleteOrder">
        delete from tb_order_info where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!--    订单统计前先执行公司列表下拉框-->
    <select id="queryCompanyList" parameterType="com.cykj.domestic.entity.Company"
            resultType="com.cykj.domestic.entity.Company">
        select * from tb_company
    </select>

    <select id="orderStatistics" parameterType="java.lang.String" resultType="com.cykj.domestic.entity.OrderInfo">
        select date(o.start_time) as one_day,count(o.id) as count_num from tb_order_info o
				left join tb_company c on o.company_id = c.id
				where o.start_time between date_format(#{startDate},'%Y%m%d')
       and date_format(#{endDate},'%Y%m%d') and c.company_name = #{companyName} group by one_day order by one_day asc;
    </select>

<!--    发布需求统计-->
    <select id="requireStatistics" parameterType="java.lang.String" resultType="com.cykj.domestic.entity.OrderInfo">
        select date(c.pulish_time) as one_day,count(c.id) count_num from tb_order_info c
            where c.pulish_time between date_format(#{startDate},'%Y%m%d')
        and date_format(#{endDate},'%Y%m%d') group by one_day order by one_day asc;
    </select>

<!--    售后追踪-->
    <select id="afterSaleList"  parameterType="com.cykj.domestic.entity.OrderInfo" resultType="com.cykj.domestic.entity.OrderInfo">
     select o.*,u.name user_name,stf.user_name staff_name,s.type_name,c.company_name com_name,os_c.order_state_name
        state_com_name,os.order_state_name from tb_order_info o
				left join tb_order_state os on o.company_order_state_id=os.id
        left join tb_order_state os_c on os_c.id = o.company_order_state_id
        left join tb_staff stf on stf.id = o.staff_id
        left join tb_user u on u.id = o.user_id
        left join tb_company c on c.id = o.company_id
        left join tb_service s on s.id = o.service_id
				and os.order_state_name='已服务'
        <where>
            <if test="orderNumber!=null and orderNumber!=''">and o.order_number like concat('%',#{orderNumber},'%')</if>
        </where>
                ORDER BY id limit #{start},#{pageSize}
    </select>

    <select id="afterSaleCount"  parameterType="com.cykj.domestic.entity.OrderInfo" resultType="int">
    select count(oi.id) from tb_order_info oi left join tb_order_state os
        on oi.company_order_state_id=os.id where os.order_state_name='已服务'
    </select>

</mapper>