<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.RoleMapper">

    <select id="queryRole" parameterType="com.cykj.domestic.entity.Role" resultType="com.cykj.domestic.entity.Role">
        SELECT * FROM tb_role
        ORDER BY id limit #{start},#{pageSize}
    </select>
    <select id="queryRoleCount" parameterType="com.cykj.domestic.entity.Role" resultType="int">
        SELECT count(id) FROM tb_role
    </select>

    <insert id="insertRole" parameterType="com.cykj.domestic.entity.Role">
        insert into tb_role(role_name,role_describe) values (#{roleName}, #{roleDescribe})
    </insert>

    <update id="updateRole" parameterType="com.cykj.domestic.entity.Role">
        update tb_role set role_name = #{roleName}, role_describe = #{roleDescribe} where id = #{id}
    </update>

    <delete id="deleteRole">
        delete from tb_role where id in
        <foreach collection="list" item="item" open = "(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryAllRole" resultType="com.cykj.domestic.entity.Role">
        SELECT * FROM tb_role
    </select>

<!--    <select id="queryrolemenu" parameterType="java.lang.Integer" resultMap="roleMenusResult">-->
<!--        SELECT r.*,m.id mid,m.parent_id,m.menu_name FROM tb_role r-->
<!--        LEFT JOIN tb_role_menu rm on rm.role_id = r.id-->
<!--        LEFT JOIN tb_menu m on m.id = rm.menu_id-->
<!--        where r.id = #{id}-->
<!--    </select>-->
<!--    <resultMap id="roleMenusResult" type="com.docshare.entity.Role">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="role_name" property="roleName"/>-->
<!--        <collection property="menuList" ofType="com.docshare.entity.Menu">-->
<!--            <id property="id" column="mid"/>-->
<!--            <result property="menuName" column="menu_name"/>-->
<!--            <result property="menuPath" column="menu_path"/>-->
<!--            <result property="parentId" column="parent_id"/>-->
<!--        </collection>-->
<!--    </resultMap>-->
<!--    <select id="querymenusecond" parameterType="java.util.List" resultType="com.docshare.entity.Menu">-->
<!--        select * from tb_menu where parent_id in-->
<!--        <foreach item="item" index="index" collection="list"  open="(" separator="," close=")">-->
<!--            #{item.id}-->
<!--        </foreach>-->
<!--    </select>-->


<!--    <select id="queryRoleMenuList" resultType="java.util.HashMap">-->
<!--        SELECT r.*,m.id mid,m.parent_id,m.menu_name,rm.id rmid FROM tb_role r-->
<!--        LEFT JOIN tb_role_menu rm on rm.role_id = r.id-->
<!--        LEFT JOIN tb_menu m on m.id = rm.menu_id-->
<!--        ORDER BY r.id limit #{start},#{pageSize}-->
<!--    </select>-->
<!--    <select id="queryRoleMenuCount" resultType="int">-->
<!--        select count(id) from tb_role_menu-->
<!--    </select>-->
<!--    -->

</mapper>