<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.ServiceEvaluationMapper">

    <!--查询公告列表-->
    <select id="queryServiceEvaluationList" parameterType="com.cykj.domestic.entity.ServiceEvaluation"
            resultType="com.cykj.domestic.entity.ServiceEvaluation">
        SELECT se.*,u.name FROM tb_service_evaluation se
        left join tb_user u
        on se.user_id = u.id
        left join tb_company c
        on se.company_id = c.id
        <where>
            se.company_id = #{id}
            <if test="e.startTime != null and e.startTime != ''">and se.time &gt; #{e.startTime} and se.time &lt;
                #{e.endTime}
            </if>
        </where>
        ORDER BY id limit #{start},#{pageSize}
    </select>

    <!--    统计列表总数-->
    <select id="queryServiceEvaluationCount" resultType="int"
            parameterType="com.cykj.domestic.entity.ServiceEvaluation">
        select count(se.id) from tb_service_evaluation se
        left join tb_user u
        on se.user_id = u.id
        left join tb_company c
        on se.company_id = c.id
        <where>
            se.company_id = #{id}
            <if test="e.startTime != null and e.startTime != ''">and se.time &gt; #{e.startTime} and se.time &lt;
                #{e.endTime}
            </if>
        </where>
    </select>
    
    <update id="updateContent" parameterType="com.cykj.domestic.entity.ServiceEvaluation">
        update tb_service_evaluation set content = #{content},content_time = #{contentTime} where id = #{id}
    </update>

</mapper>