<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.ServiceTypeMapper">

    <insert id="addServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
        insert into tb_service_type(type_name,description) values (#{typeName},#{description})
    </insert>

    <update id="updateServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
     update tb_service_type set type_name=#{typeName},description=#{description} where id=#{id}
    </update>

    <delete id="deleteServiceType">
         delete from tb_service_type where id=#{id}
    </delete>

    <select id="selectList" resultType="com.cykj.domestic.entity.ServiceType"
            parameterType="com.cykj.domestic.entity.ServiceType">
        select * from tb_service_type
        limit #{start},#{pageSize}
    </select>

    <select id="selectListCount" resultType="int" parameterType="com.cykj.domestic.entity.ServiceType">
        select count(id) from tb_service_type
    </select>

    <select id="serviceTypeView" resultType="com.cykj.domestic.entity.ServiceType"
            parameterType="com.cykj.domestic.entity.ServiceType">
       select * from tb_service_type where id=#{id}
    </select>


    <!--    公司端服务类别查询-->
    <select id="queryCompanyServiceType" resultType="com.cykj.domestic.entity.ServiceType">
        SELECT a.type_name  typeName,a.description description, b.apply_time updateTime,b.state FROM tb_company c
          LEFT JOIN tb_service_relation b ON c.id=b.company_id
          LEFT JOIN  tb_service_type a ON a.id=b.service_type_id WHERE c.id=#{id} limit #{start},#{pageSize}
    </select>

    <select id="queryCompanyServiceTypeCount" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*) FROM tb_company c
          LEFT JOIN tb_service_relation b ON c.id=b.company_id
          LEFT JOIN  tb_service_type a ON a.id=b.service_type_id WHERE c.id=#{id}
    </select>

<!--  1 -->
    <!--    公司申请添加服务类别关系-->
    <insert id="addServicerelstion" parameterType="com.cykj.domestic.entity.ServiceType">
         INSERT INTO tb_service_relation(company_id,service_type_id,state)VALUES(#{companyId},#{id},#{state})
    </insert>

    <!--    公司申请入驻添加服务服务类别-->
    <insert id="addServiceContinuous" parameterType="com.cykj.domestic.entity.ServiceType">
        INSERT INTO tb_service_relation(company_id,service_type_id,state)VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{companyId},#{item},'审核通过')
        </foreach>
    </insert>



    <!--    查询所有服务类别-->
    <select id="queryServiceType" resultType="com.cykj.domestic.entity.ServiceType">
        SELECT * FROM tb_service_type
    </select>

    <!--     /*查询平台端审核服务类别*/-->
    <select id="querySericeTypeRelation" resultType="com.cykj.domestic.entity.ServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
        SELECT r.id as id,r.state as state, t.description as description,r.apply_time as update_time,t.type_name as
        typeName,c.company_name as companyName FROM tb_service_relation r
        LEFT JOIN tb_service_type t ON t.id=r.service_type_id
        LEFT JOIN tb_company c ON c.id=r.company_id
        <where>
            <if test="e.typeName!=null and e.typeName!=''">
                and t.type_name like concat('%',#{e.typeName},'%')
            </if>
        </where>
        ORDER BY r.state DESC
        limit #{start},#{pageSize}
    </select>

    <select id="querySericeTypeRelationCount" resultType="int">
        SELECT COUNT(*) FROM tb_service_relation r
         LEFT JOIN tb_service_type t ON t.id=r.service_type_id
        LEFT JOIN tb_company c ON c.id=r.company_id
        <where>
            <if test="e.typeName!=null and e.typeName!=''">
                and t.type_name like concat('%',#{e.typeName},'%')
            </if>
        </where>
        ORDER BY r.state DESC
    </select>

    <!--平台修改公司端发送的服务类别申请变 审核通过-->
    <update id="updateSericeTypeRelation" parameterType="com.cykj.domestic.entity.ServiceType">
        UPDATE tb_service_relation SET state=#{state} WHERE id=#{id}
    </update>

<!--    查询所有服务-->
    <select id="selectSerice" resultType="com.cykj.domestic.entity.ServiceType">
        select * from tb_service
    </select>


</mapper>