<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.ServiceListMapper">

    <insert id="addServiceList" parameterType="com.cykj.domestic.entity.TbService">
      INSERT into tb_service(type_name,description,service_type_id)VALUES(#{typeName},#{description},#{serviceCategory});
    </insert>

<!--    <update id="updateServiceList" parameterType="com.cykj.domestic.entity.TbService">-->
<!--     update tb_service_type set type_name=#{type_name},description=#{description},update_name=#{update_name} where id=#{id}-->
<!--    </update>-->

        <update id="updateServiceList" parameterType="com.cykj.domestic.entity.TbService">
         update tb_service set type_name=#{typeName},description=#{description},service_type_id=#{serviceCategory} where id=#{id}
        </update>


    <delete id="deleteServiceList">
         delete from tb_service where id=#{id}
    </delete>

    <select id="selectList" resultType="com.cykj.domestic.entity.TbService" parameterType="com.cykj.domestic.entity.TbService">
         select a.* ,b.type_name serviceCategory from tb_service a LEFT JOIN  tb_service_type b on b.id=a.service_type_id
        limit #{start},#{pageSize}
    </select>

    <select id="selectListCount" resultType="int" parameterType="com.cykj.domestic.entity.TbService">
       select count(A.id) from ( select a.* ,b.type_name serviceCategory from tb_service a LEFT JOIN  tb_service_type b on b.id=a.service_type_id)A
    </select>

    <select id="selectService" resultType="com.cykj.domestic.entity.ServiceType">
       select * from tb_service_type
    </select>

</mapper>