<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.ServiceTypeMapper">

    <insert id="addServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
        insert into tb_service_type(type_name,description,update_name) value (#{type_name},#{description},#{update_name})
    </insert>

    <update id="updateServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
     update tb_service_type set type_name=#{type_name},description=#{description},update_name=#{update_name} where id=#{id}
    </update>

    <delete id="deleteServiceType">
         delete from tb_service_type where id=#{id}
    </delete>

    <select id="selectList" resultType="com.cykj.domestic.entity.ServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
        select * from tb_service_type
        limit #{start},#{pageSize}
    </select>

    <select id="selectListCount" resultType="int" parameterType="com.cykj.domestic.entity.ServiceType">
        select count(id) from tb_service_type
    </select>
</mapper>