<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.ServiceTypeMapper">

    <insert id="addServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
        insert into tb_service_type(type_name,description) values (#{typeName},#{description})
    </insert>

    <update id="updateServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
     update tb_service_type set type_name=#{typeName},description=#{description} where id=#{id}
    </update>

    <delete id="deleteServiceType">
         delete from tb_service_type where id=#{id}
    </delete>

    <select id="selectList" resultType="com.cykj.domestic.entity.ServiceType"
            parameterType="com.cykj.domestic.entity.ServiceType">
        select * from tb_service_type
        limit #{start},#{pageSize}
    </select>

    <select id="selectListCount" resultType="int" parameterType="com.cykj.domestic.entity.ServiceType">
        select count(id) from tb_service_type
    </select>

    <select id="serviceTypeView" resultType="com.cykj.domestic.entity.ServiceType"
            parameterType="com.cykj.domestic.entity.ServiceType">
       select * from tb_service_type where id=#{id}
    </select>


    <!--    公司端服务类别查询-->
    <select id="queryCompanyServiceType" resultType="com.cykj.domestic.entity.ServiceType">
        SELECT b.id id,a.type_name  typeName,a.description description, b.apply_time updateTime,b.state FROM tb_company c
          LEFT JOIN tb_service_relation b ON c.id=b.company_id
          LEFT JOIN  tb_service_type a ON a.id=b.service_type_id WHERE c.id=#{id} limit #{start},#{pageSize}
    </select>

    <select id="queryCompanyServiceTypeCount" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*) FROM tb_company c
          LEFT JOIN tb_service_relation b ON c.id=b.company_id
          LEFT JOIN  tb_service_type a ON a.id=b.service_type_id WHERE c.id=#{id}
    </select>

    <!--  1 -->
    <!--    公司申请添加服务类别关系-->
    <insert id="addServicerelstion" parameterType="com.cykj.domestic.entity.ServiceType">
         INSERT INTO tb_service_relation(company_id,service_type_id,state)VALUES(#{companyId},#{id},#{state})
    </insert>

    <!--    公司申请入驻添加服务服务类别-->
    <insert id="addServiceContinuous" parameterType="com.cykj.domestic.entity.ServiceType">
        INSERT INTO tb_service_relation(company_id,service_type_id,state)VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{companyId},#{item},'审核通过')
        </foreach>
    </insert>

    <!--    查询所有服务类别-->
    <select id="queryServiceType" resultType="com.cykj.domestic.entity.ServiceType">
        SELECT * FROM tb_service_type
    </select>

    <!--     /*查询平台端审核服务类别*/-->
    <select id="querySericeTypeRelation" resultType="com.cykj.domestic.entity.ServiceType" parameterType="com.cykj.domestic.entity.ServiceType">
        SELECT r.id as id,r.state as state, t.description as description,r.apply_time as update_time,t.type_name as
        typeName,c.company_name as companyName FROM tb_service_relation r
        LEFT JOIN tb_service_type t ON t.id=r.service_type_id
        LEFT JOIN tb_company c ON c.id=r.company_id
        <where>
            <if test="e.typeName!=null and e.typeName!=''">
                and t.type_name like concat('%',#{e.typeName},'%')
            </if>
        </where>
        ORDER BY r.state DESC
        limit #{start},#{pageSize}
    </select>

    <select id="querySericeTypeRelationCount" resultType="int">
        SELECT COUNT(*) FROM tb_service_relation r
        LEFT JOIN tb_service_type t ON t.id=r.service_type_id
        LEFT JOIN tb_company c ON c.id=r.company_id
        <where>
            <if test="e.typeName!=null and e.typeName!=''">
                and t.type_name like concat('%',#{e.typeName},'%')
            </if>
        </where>
        ORDER BY r.state DESC
    </select>

    <!--平台修改公司端发送的服务类别申请变 审核通过-->
    <update id="updateSericeTypeRelation" parameterType="com.cykj.domestic.entity.ServiceType">
        UPDATE tb_service_relation SET state=#{state} WHERE id=#{id}
    </update>

    <!--    查询所有服务-->
    <select id="selectSerice" resultType="com.cykj.domestic.entity.ServiceType">
        select * from tb_service
    </select>


    <!--    公司端人员配置中服务类别查询-->
    <select id="queryComServiceType" resultType="com.cykj.domestic.entity.ServiceType">
        SELECT a.id,a.type_name,a.description,b.state FROM tb_company c
          LEFT JOIN tb_service_relation b ON c.id=b.company_id
          LEFT JOIN  tb_service_type a ON a.id=b.service_type_id WHERE c.id=#{companyId} and b.state='审核通过'
    </select>

    <!--    公司端人员配置中服务类别的服务-->
    <select id="queryServiceTypeService" resultType="com.cykj.domestic.entity.TbService">
        select s.id,s.type_name s_name,st.id st_id,st.type_name st_name from tb_service s
        left join tb_service_type st on st.id = s.service_type_id
        where st.id = #{stId}
    </select>

    <!--    公司端人员配置中人员已有服务查询-->
    <select id="queryStaffService" resultType="com.cykj.domestic.entity.TbService">
        SELECT sr.service_type_id, sr.staff_id,sr.service_id,s.type_name FROM tb_service_relation sr
        left join tb_service s on s.id = sr.service_id
        where sr.staff_id = #{staffId} and sr.service_type_id = #{stId}
    </select>

    <!--查询所有未审核和Null的服务-->
    <select id="queryServiceNull" parameterType="com.cykj.domestic.entity.Company" resultType="com.cykj.domestic.entity.ServiceType">
        SELECT * from (SELECT a.id,a.type_name,b.state FROM tb_service_type a
            LEFT OUTER JOIN (SELECT state,service_type_id from tb_service_relation where company_id=#{id}) b ON a.id=b.service_type_id) c
            where  c.state = '未审核' or c.state is null;
    </select>

    <!--查询前三的热门服务-->
    <select id="WXServiceTypeTopthree" parameterType="com.cykj.domestic.entity.ServiceType"
            resultType="com.cykj.domestic.entity.ServiceType">
        SELECT  c.id id,c.company_name company_name,t.type_name type_name,s.type_name service_type_name,COUNT(i.id) count_num FROM tb_order_info i
          LEFT JOIN  tb_company c ON c.id=i.company_id
          LEFT JOIN tb_service s ON i.service_id=s.id
          LEFT JOIN tb_service_type t ON t.id=s.service_type_id
          WHERE i.user_order_state_id=8 AND c.state='审核通过'
          GROUP BY c.id ,c.company_name,t.type_name,s.type_name
          ORDER BY count_num DESC LIMIT 0,6
    </select>


<!--    公司可以删除为审核的服务类别-->
    <delete id="deleteCompanyRelation" parameterType="java.lang.String">
        DELETE from tb_service_relation WHERE id=#{id} AND state='未审核'
    </delete>

    <!--    公司端人员配置中添加人员服务-->
    <insert id="insertStaffService">
        insert into tb_service_relation(staff_id,service_type_id,service_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{staffId},#{stId},#{item})
        </foreach>
    </insert>

    <!--    公司端人员配置中删除人员服务-->
    <delete id="deleteStaffService">
        delete from tb_service_relation
        where staff_id = #{staffId} and service_type_id = #{stId}
    </delete>



    <!--    微信端查询所有服务类别-->
    <select id="queryWXService" resultType="com.cykj.domestic.entity.TbService">
        select s.* from tb_service s
        left join tb_service_type st
        on s.service_type_id = st.id
        where s.service_type_id = #{serviceTypeId}
    </select>

    <!--   查询公司服务类型-->
    <select id="queryCompanyService" resultMap="serviceTypeMap" parameterType="int">
        select st.id,st.type_name,s.description, s.id s_id,s.type_name s_name,o.order_num,
        se.level_num,pr.price,pr.unit,pr.deposit,s.icon from tb_service s
        left join tb_service_type st on st.id = s.service_type_id
        left join tb_service_relation sr on sr.service_type_id = st.id
        left join tb_company c on c.id = sr.company_id
        left join (select o.service_id,count(o.service_id) order_num from tb_order_info o
                                left join tb_service s on s.id = o.service_id
								where o.company_id = #{companyId} and o.company_order_state_id = 4
                                GROUP BY o.service_id) o on o.service_id = s.id
        left join (select s.id s_id,round(avg(se.evaluation_level)/5*100,1) level_num from tb_service_evaluation se
                            left join tb_service s on s.id = se.service_id
                            where se.company_id = #{companyId}
                            GROUP BY se.service_id) se on se.s_id = s.id
        left join (select pr.* from tb_service s
                         left join tb_price_relation pr on pr.service_id = s.id
                         where pr.company_id = #{companyId}) pr on pr.service_id = s.id
        where c.id = #{companyId} ORDER BY s.id
    </select>
    <resultMap id="serviceTypeMap" type="com.cykj.domestic.entity.ServiceType">
        <id column="id" property="id"/>
        <result column="type_name" property="typeName"/>
        <collection property="serviceList" ofType="com.cykj.domestic.entity.TbService">
            <id property="id" column="s_id"/>
            <result property="serviceTypeId" column="id"/>
            <result property="orderNum" column="order_num"/>
            <result property="levelNum" column="level_num"/>
            <result property="description" column="description"/>
            <result property="typeName" column="s_name"/>
            <result property="price" column="price"/>
            <result property="unit" column="unit"/>
            <result property="deposit" column="deposit"/>
            <result property="icon" column="icon"/>
        </collection>
    </resultMap>


    <!--   查询公司前3热门服务-->
    <select id="queryCompanyHotService" resultType="com.cykj.domestic.entity.TbService" parameterType="int">
       select st.id,st.type_name,s.description, s.id s_id,s.type_name s_name,o.order_num,
        se.level_num,pr.price,pr.unit,pr.deposit,s.icon from tb_service s
        left join tb_service_type st on st.id = s.service_type_id
        left join tb_service_relation sr on sr.service_type_id = st.id
        left join tb_company c on c.id = sr.company_id
        left join (select o.service_id,count(o.service_id) order_num from tb_order_info o
                                left join tb_service s on s.id = o.service_id
								where o.company_id = #{companyId} and o.company_order_state_id = 4
                                GROUP BY o.service_id) o on o.service_id = s.id
        left join (select s.id s_id,round(avg(se.evaluation_level)/5*100,1) level_num from tb_service_evaluation se
                            left join tb_service s on s.id = se.service_id
                            where se.company_id = #{companyId}
                            GROUP BY se.service_id) se on se.s_id = s.id
        left join (select pr.* from tb_service s
                             left join tb_price_relation pr on pr.service_id = s.id
                             where pr.company_id = #{companyId}) pr on pr.service_id = s.id
        where c.id = #{companyId}  ORDER BY o.order_num desc limit 0,3
    </select>


</mapper>