<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.StaffMapper">
<!--员工管理-->
    <select id="queryStaff" parameterType="com.cykj.domestic.entity.Staff" resultType="com.cykj.domestic.entity.Staff">
        SELECT S.*,R.region FROM tb_staff S
        LEFT JOIN tb_region R
         ON S.region_id = R.id
        <where>
            <if test="region != null and region != ''">
                R.region = #{e.region}
            </if>
        </where>
        ORDER BY id limit #{start},#{pageSize}
    </select>

    <select id="queryStaffCount" parameterType="com.cykj.domestic.entity.Staff" resultType="int">
        SELECT count(s.id) FROM tb_staff s
        left join tb_region r
        on s.region_id = r.id
        <where>
            <if test="region != null and region != ''">
                region = #{e.region}
            </if>
        </where>
    </select>

    <update id="enableState" parameterType="com.cykj.domestic.entity.Staff">
        UPDATE tb_staff SET STATE = '启用' WHERE id = #{id}
    </update>

    <update id="disableState" parameterType="com.cykj.domestic.entity.Staff">
        UPDATE tb_staff SET STATE = '禁用' WHERE id = #{id}
    </update>

    <select id="checkStaff" parameterType="com.cykj.domestic.entity.Staff" resultType="com.cykj.domestic.entity.Staff">
        SELECT * FROM tb_staff where id = #{id}
    </select>

    <select id="regionList" parameterType="com.cykj.domestic.entity.Region" resultType="com.cykj.domestic.entity.Region">
        SELECT * FROM tb_region
    </select>

<!--用户管理-->
    <select id="queryUser" parameterType="com.cykj.domestic.entity.User" resultType="com.cykj.domestic.entity.User">
        SELECT U.*,A.* FROM tb_user U LEFT JOIN tb_user_address A ON U.user_address_id=A.user_id
        <where>
            <if test="region != null and region != ''">
                A.region = #{e.region}
            </if>
        </where>
        ORDER BY U.id limit #{start},#{pageSize}
    </select>

    <select id="queryUserCount" parameterType="com.cykj.domestic.entity.User" resultType="int">
        SELECT COUNT(U.id) FROM tb_user U LEFT JOIN tb_user_address A ON U.user_address_id=A.user_id
        <where>
            <if test="region != null and region != ''">
                region = #{e.region}
            </if>
        </where>
    </select>

<!--    启用/禁用用户-->
    <update id="enableUser" parameterType="com.cykj.domestic.entity.User">
        UPDATE tb_user SET status = '启用' WHERE id = #{id}
    </update>

    <update id="disableUser" parameterType="com.cykj.domestic.entity.User">
        UPDATE tb_user SET status = '禁用' WHERE id = #{id}
    </update>

<!--    用户统计-->
    <select id="userStatistics" parameterType="java.lang.String" resultType="com.cykj.domestic.entity.User">
        select date(c.join_time) as one_day,count(c.id) count_num from tb_company c where c.join_time between date_format(#{startDate},'%Y%m%d')
       and date_format(#{endDate},'%Y%m%d') group by one_day order by one_day desc;

    </select>
</mapper>