<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.StaffMapper">
<!--员工管理-->
    <select id="queryStaff" parameterType="com.cykj.domestic.entity.Staff" resultType="com.cykj.domestic.entity.Staff">
        SELECT S.*,R.region FROM tb_staff S
        LEFT JOIN tb_region R
         ON S.region_id = R.id
        <where>
            <if test="region != null and region != ''">
                R.region = #{e.region}
            </if>
        </where>
        ORDER BY id limit #{start},#{pageSize}
    </select>

    <select id="queryStaffCount" parameterType="com.cykj.domestic.entity.Staff" resultType="int">
        SELECT count(s.id) FROM tb_staff s
        left join tb_region r
        on s.region_id = r.id
        <where>
            <if test="region != null and region != ''">
                region = #{e.region}
            </if>
        </where>
    </select>

    <update id="enableState" parameterType="com.cykj.domestic.entity.Staff">
        UPDATE tb_staff SET STATE = '启用' WHERE id = #{id}
    </update>

    <update id="disableState" parameterType="com.cykj.domestic.entity.Staff">
        UPDATE tb_staff SET STATE = '禁用' WHERE id = #{id}
    </update>

    <select id="checkStaff" parameterType="com.cykj.domestic.entity.Staff" resultType="com.cykj.domestic.entity.Staff">
        SELECT * FROM tb_staff where id = #{id}
    </select>

    <select id="regionList" parameterType="com.cykj.domestic.entity.Region" resultType="com.cykj.domestic.entity.Region">
        SELECT * FROM tb_region
    </select>

<!--用户管理-->
    <select id="queryUser" parameterType="com.cykj.domestic.entity.User" resultType="com.cykj.domestic.entity.User">
        SELECT U.*,A.* FROM tb_user U LEFT JOIN tb_user_address A ON U.user_address_id=A.user_id
        <where>
            <if test="region != null and region != ''">
                A.region = #{e.region}
            </if>
        </where>
        ORDER BY U.id limit #{start},#{pageSize}
    </select>

    <select id="queryUserCount" parameterType="com.cykj.domestic.entity.User" resultType="int">
        SELECT COUNT(U.id) FROM tb_user U LEFT JOIN tb_user_address A ON U.user_address_id=A.user_id
        <where>
            <if test="region != null and region != ''">
                region = #{e.region}
            </if>
        </where>
    </select>

<!--    启用/禁用用户-->
    <update id="enableUser" parameterType="com.cykj.domestic.entity.User">
        UPDATE tb_user SET status = '启用' WHERE id = #{id}
    </update>

    <update id="disableUser" parameterType="com.cykj.domestic.entity.User">
        UPDATE tb_user SET status = '禁用' WHERE id = #{id}
    </update>

<!--    用户统计-->
    <select id="userStatistics" parameterType="java.lang.String" resultType="com.cykj.domestic.entity.User">
        select date(c.create_time) as one_day,count(c.id) count_num from tb_user c where c.create_time between date_format(#{startDate},'%Y%m%d')
       and date_format(#{endDate},'%Y%m%d') group by one_day order by one_day desc;
    </select>


<!--    公司端-员工信息-->
    <select id="queryCompanyStaff" parameterType="com.cykj.domestic.entity.Staff" resultType="com.cykj.domestic.entity.Staff">
        SELECT * FROM tb_staff where company_id = #{cId}
        ORDER BY id limit #{start},#{pageSize}
    </select>
    <select id="queryCompanyStaffConut" parameterType="com.cykj.domestic.entity.Staff" resultType="int">
        SELECT count(id) FROM tb_staff where company_id = #{cId}
    </select>
    <insert id="insertCompanyStaff" parameterType="com.cykj.domestic.entity.Staff">
        insert into tb_staff(account,user_name,pwd,phone,sex,address,company_id,
        workage,nativeplace,education,marriage,idcard,age,birth_date)
        values(#{account},#{userName},#{pwd},#{phone},#{sex},#{address},#{companyId},
        #{workage},#{nativeplace},#{education},#{marriage},#{idcard},#{age},#{birthDate})
    </insert>

    <!--    修改员工信息-->
    <update id="updateCompanyStaff" parameterType="com.cykj.domestic.entity.Staff">
        update tb_staff set user_name=#{userName},sex=#{sex},address=#{address},
        workage=#{workage},nativeplace=#{nativeplace},education=#{education},
        marriage=#{marriage},age=#{age},birth_date=#{birthDate}
        where id = #{id}
    </update>

    <!--    查询手机号-->
    <select id="queryStaffPhone" resultType="com.cykj.domestic.entity.Staff">
        SELECT * FROM tb_staff where phone = #{phone}
    </select>
    <!--    查询身份证-->
    <select id="queryStaffIdcard" resultType="com.cykj.domestic.entity.Staff">
        SELECT * FROM tb_staff where idcard = #{idcard}
    </select>
    <!--    查询员工id最大值-->
    <select id="queryStaffMaxAccount" resultType="java.lang.String">
        SELECT max(account) FROM tb_staff
    </select>

    <!--    修改员工工作状态-->
    <update id="updateStaffJobState">
        update tb_staff set job_state = #{jobState} where id = #{staffId}
    </update>
    <!--    删除员工-->
    <delete id="deleteStaff">
        delete from tb_staff where id = #{staffId}
    </delete>
</mapper>