<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.TicketMapper">

    <insert id="addServiceList" parameterType="com.cykj.domestic.entity.Ticket">
      INSERT into tb_ticket(ticket_name,start_time,end_time,preferential_num,details,num)
      VALUES(#{ticketName},#{startTime},#{endTime},#{preferentialNum},#{details},#{num});
    </insert>


    <delete id="deleteServiceList">
         delete from tb_ticket where id=#{id}
    </delete>

    <select id="selectList" resultType="com.cykj.domestic.entity.Ticket" parameterType="com.cykj.domestic.entity.Ticket">
        select * from tb_ticket
        limit #{start},#{pageSize}
    </select>
    <select id="selectListCount" resultType="int" parameterType="com.cykj.domestic.entity.Ticket">
       select count(id) from tb_ticket
    </select>

<!--    //小程序首页优惠券-->
    <select id="selectListWx" resultType="com.cykj.domestic.entity.Ticket" parameterType="com.cykj.domestic.entity.Ticket">
       SELECT t.id,t.ticket_name,t.preferential_num,t.start_time,t.end_time,t.details,tr.state from tb_ticket t
       LEFT JOIN tb_ticket_relation tr on tr.ticket_id=t.id
    </select>
<!--//通过状态-->
    <select id="selectListWx3" resultType="com.cykj.domestic.entity.Ticket" parameterType="com.cykj.domestic.entity.Ticket">
       SELECT t.id,t.ticket_name,t.preferential_num,t.start_time,t.end_time,t.details,tr.state,t.conditions_num from tb_ticket t
       LEFT JOIN tb_ticket_relation tr on tr.ticket_id=t.id
        <where>
             and tr.user_id=#{userid}
           <if test="e.state!=null and e.state!=''">and tr.state=#{e.state}</if>
       </where>
    </select>

<!--    //领取优惠券-->
    <insert id="updateTicket" parameterType="com.cykj.domestic.entity.Ticket">
        insert into tb_ticket_relation (user_id,state,ticket_id)values(#{userid},1,#{e.ticketId});
    </insert>

</mapper>