<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.TrainPlanMapper">

    <select id="queryTrainPlanList" parameterType="com.cykj.domestic.entity.TrainPlan"
            resultType="com.cykj.domestic.entity.TrainPlan">
        SELECT * FROM tb_train_plan
        ORDER BY id limit #{start},#{pageSize}
    </select>

    <select id="queryTrainPlanCount" parameterType="com.cykj.domestic.entity.TrainPlan" resultType="int">
        SELECT count(id) FROM tb_train_plan
    </select>

    <delete id="deletePlan" parameterType="java.lang.Integer">
        DELETE FROM tb_train_plan WHERE id = #{id}
    </delete>

    <update id="updatePlan" parameterType="com.cykj.domestic.entity.TrainPlan">
        update tb_train_plan set title = #{title},content = #{content},people_num = #{peopleNum},start_time = #{startTime},end_time = #{endTime}
        where id = #{id}
    </update>

    <insert id="insertPlan" parameterType="com.cykj.domestic.entity.TrainPlan">
        insert into tb_train_plan (title,content,people_num,start_time,end_time) values (#{title},#{content},#{peopleNum},#{startTime},#{endTime})
    </insert>

<!--    培训统计-->
    <select id="planStatistics" parameterType="java.lang.String" resultType="com.cykj.domestic.entity.TrainPlan">
    select date(c.start_time) as one_day,count(c.id) count_num from tb_train_plan c where c.start_time between date_format(#{startDate},'%Y%m%d')
       and date_format(#{endDate},'%Y%m%d') group by one_day order by one_day asc ;
    </select>
<!--    培训人数统计-->
    <select id="peopleStatistics" parameterType="java.lang.String" resultType="com.cykj.domestic.entity.TrainPlan">
       	select date(c.start_time) as one_day,count(a.staff_id) peo_num from tb_train_plan c
			left join tb_train_staff_relation a on c.id=a.train_plan_id
			where c.start_time between date_format(#{startDate},'%Y%m%d')
       and date_format(#{endDate},'%Y%m%d') group by one_day order by one_day asc;
    </select>

</mapper>