<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.UserMapper">

    <!--    查询用户默认地址-->
    <select id="queryUserAddress" parameterType="com.cykj.domestic.entity.User"
            resultType="com.cykj.domestic.entity.User">
                SELECT * FROM tb_user_address WHERE id=#{userAddressId}
    </select>

    <!--    用户登陆-->
    <select id="userLogin" parameterType="com.cykj.domestic.entity.User"
            resultType="com.cykj.domestic.entity.User">
             SELECT * FROM tb_user WHERE account=#{account}
    </select>

    <!--    查询最大账号-->
    <select id="MaxAccount" resultType="java.lang.String">
        SELECT MAX(account) from tb_user
    </select>

    <!--    家政公司根据手机号码查询-->
    <select id="queryUserPhone" parameterType="com.cykj.domestic.entity.User"
            resultType="com.cykj.domestic.entity.User">
              select * from tb_user where phone=#{phone}
    </select>

    <!--    用户注册-->
    <insert id="insertUser" parameterType="com.cykj.domestic.entity.User">
        INSERT INTO tb_user(account,pwd,name,sex,phone,status)
        VALUES(#{account},#{pwd},#{name},#{sex},#{phone},'启用')
    </insert>


    <!--    忘记密码更改密码-->
    <update id="phone_update_pwd" parameterType="com.cykj.domestic.entity.User">
               UPDATE tb_user SET pwd=#{pwd} WHERE phone=#{phone}
    </update>

    <!--    修改用户个人信息-->
    <update id="updateUserInfo" parameterType="com.cykj.domestic.entity.User">
        update tb_user set name = #{name},pwd = #{pwd},phone = #{phone},sex = #{sex},age = #{age} where id = #{id}
    </update>

    <!--    上传头像-->
    <update id="uploadAvatar" parameterType="com.cykj.domestic.entity.User">
        update tb_user set avatar = #{avatar} where id = #{id}
    </update>


    <!--    通过openid查询用户-->
    <select id="queryOpenIdUser" resultType="com.cykj.domestic.entity.User">
        select * from tb_user where open_id = #{openId}
    </select>

    <!--    wx-添加用户-->
    <insert id="insertUserInfo" parameterType="com.cykj.domestic.entity.User">
        INSERT INTO tb_user(open_id,name,sex,avatar,new_login_time,create_time)
        VALUES(#{openId},#{name},#{sex},#{avatar},#{newLoginTime},#{createTime})
    </insert>

    <!--    更新登录时间-->
    <update id="uploadLoginTime" useGeneratedKeys="true" keyProperty="id" parameterType="com.cykj.domestic.entity.User">
        update tb_user set new_login_time = #{newLoginTime} where open_id = #{openId}
    </update>
</mapper>