<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.UserOrderMapper">

<!--    添加用户发布需求和下订单-->
    <insert id="insertUserOrder" parameterType="com.cykj.domestic.entity.OrderInfo">
          INSERT INTO tb_order_info (order_number,user_id,service_id,frequency,company_id,company_order_state_id,user_order_state_id,title,description,phone,detail_address_id)
        VALUES(#{orderNumber},#{userId},#{serviceId},#{frequency},#{companyId},#{companyOrderStateId},#{userOrderStateId},#{title},#{description},#{phone},#{detailAddressId})
    </insert>

    <!--   需 求大厅-->
    <select id="queryUserDemend" parameterType="com.cykj.domestic.entity.OrderInfo" resultType="com.cykj.domestic.entity.OrderInfo">
        SELECT * FROM tb_order_info A LEFT JOIN tb_user_address B ON A.user_id=B.user_id
        <where>
            A.company_id=0 and A.company_order_state_id=0 and A.detail_address_id=B.id
            <if test="e.orderNumber!=null and e.orderNumber!=''">and A.order_number LIKE CONCAT('%',#{e.orderNumber},'%')</if>
            <if test="e.title!=null and e.title!=null">AND A.title LIKE CONCAT('%',#{e.title},'%')</if>
        </where>
        ORDER BY A.id LIMIT #{start},#{pageSize};
    </select>


    <select id="queryUserDemendCount" parameterType="com.cykj.domestic.entity.OrderInfo" resultType="int">
        SELECT COUNT(*) FROM tb_order_info A LEFT JOIN tb_user_address B ON A.user_id=B.user_id
        <where>
            A.company_id=0 and A.company_order_state_id=0 and A.detail_address_id=B.id
            <if test="e.orderNumber!=null and e.orderNumber!=''">and A.order_number LIKE CONCAT('%',#{e.orderNumber},'%')</if>
            <if test="e.title!=null and e.title!=null">AND A.title LIKE CONCAT('%',#{e.title},'%')</if>
        </where>
    </select>

<!--    公司接单-->
    <update id="updateUserDemend" parameterType="com.cykj.domestic.entity.OrderInfo">
            UPDATE tb_order_info SET company_id=#{companyId} ,company_order_state_id=#{companyOrderStateId} WHERE id = #{id}
    </update>


</mapper>