<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.domestic.mapper.UserClockMapper">

    <!--    查询用户积分-->
    <select id="queryIntegral" parameterType="com.cykj.domestic.entity.UserClock" resultType="int">
        SELECT integral FROM tb_user_clock where user_id = #{userId}
    </select>

    <!--    查询用户连续签到天数-->
    <select id="queryContinuousSign" parameterType="com.cykj.domestic.entity.UserClock" resultType="int">
        SELECT continuous_sign FROM tb_user_clock where user_id = #{userId}
    </select>

    <!--    增加签到数据-->
    <insert id="insertSign" parameterType="com.cykj.domestic.entity.UserClock">
        insert into tb_user_clock (clock_time,integral,continuous_sign,user_id)
         values (#{clockTime},#{integral},#{continuousSign},#{userId})
    </insert>

    <!--    修改签到数据-->
    <update id="updateSign" parameterType="com.cykj.domestic.entity.UserClock">
        update tb_user_clock set clock_time = #{clockTime},integral = #{integral},continuous_sign = #{continuousSign}
        where user_id = #{userId}
    </update>

    <!--根据用户id决定是新增还是修改-->
    <select id="queryUser" parameterType="com.cykj.domestic.entity.UserClock"
            resultType="com.cykj.domestic.entity.UserClock">
        select * from tb_user_clock where user_id = #{userId}
    </select>

    <!--查询签到日期-->
    <select id="queryDate" parameterType="java.lang.Integer"
            resultType="com.cykj.domestic.entity.UserClock">
        select clock_time from tb_user_clock where user_id = #{userId}
    </select>
</mapper>